@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
    font-family: Poppins, "sans serif";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}
.nav {
    width: 70%;
}
#navbar {
    transition: 0.5s ease-out;
    background: #f1f1f1;
}
#nav-brand {
    color: #222;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 6px;
}
#navbarNav .navbar-nav .nav-link {
    color: #222;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
}
#navbarNav .navbar-nav .nav-link:hover {
    color: #fff;
    background: #222;
}
main {
    margin-top: 5.5rem;
}
.section {
    padding-top: 4rem;
}
#image {
    height: 300px;
    width: 300px;
}

.offcanvas-body ul {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.offcanvas-body ul li {
    list-style: none;
    margin: 10px;
}
.offcanvas-body ul li a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 7px 15px;
    transition: 0.3s ease-in-out;
}
.offcanvas-body ul li a:hover {
    background: #222;
    color: #fff;
}

.button {
    text-decoration: none;
    padding: 5px 8px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #222;
    background: #222;
    color: #fff;
    transition: 0.2s ease-in-out;
}
.button:hover {
    background: #fff;
    color: #222;
}
.card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    opacity: 0.5;
    transition: 0.5s;
}
.card:hover {
    opacity: 1;
    transform: translateY(-10px);
}
#sec2 {
    padding: 5rem 0;
}
.explain {
    font-size: 21px;
}
@media screen and (max-width: 992px) {
    .explain {
        font-size: 16px;
    }
}
@media screen and (max-width: 690px) {
    .g-3 {
        flex-direction: column;
    }
    .col-sm-4 {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    #sec {
        flex-direction: column;
    }
    #sec2 {
        flex-direction: column;
    }
}
